<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/logoicon.png" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">

    <title>Blog-Natully</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">



    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
</head>

<body>



    <%- include('header') %>


    <!--  -->
    <!-- phần blog -->
    <div class="blog--shop">
        <div class="blog--shop--left">

            <h1>
                Natully luôn đồng hành cùng bạn mọi lúc mọi nơi
            </h1>
            <p>Điều quan trọng là phải biết rằng khách hàng là khách hàng, khách hàng phải là người đầu tiên. Tôi khó có
                thể biến anh ta thành một mẩu chất nhầy, trừ khi có vẻ như họ đã sẵn sàng. Tôi hiểu sự tầm thường của
                bạn và của bạn.</p>
            <h4>Thomy Cilfinger, chủ sở hữu</h4>
            <img src="../img/product/blog2.png" alt="">


        </div>
        <div class="blog--shop--right">
            <img src="../img/product/blog1.png" alt="">
        </div>


    </div>

    <div class="blog--shop2">
        <div class="blog--shop--left2">
            <img src="../img/product/blog3.jpg" alt="">



        </div>
        <div class="blog--shop--right2">
            <h1>
                Vẻ đẹp kiêu xa
            </h1>
            <p>Không lộng lẫy cũng không phải quê mùa, nhưng hãy để nó đến một nơi và kết luận. Không có kết quả lật
                ngược.</p>

            <div class="evaluate--blog">
                <span>Hoa hồng đẹp</span> <span>93%</span>
            </div>

            <div class="evaluate--blog1">
                <span> Hoa cúc đẹp</span> <span> 80%</span>
            </div>



        </div>


    </div>


    <%- include('footer') %>




    <!-- ---- ICON -----------  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../js/script.js"></script>


</body>


</html>