<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/logoicon.png" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">

    <title>Contact-Natully</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">



</head>

<body>



    <%- include('header') %>

    <!--  -->
    <!-- phần contact -->

    <div class="contact--shop--map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4435924064833!2d106.62525347444407!3d10.853826357762506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1678926783933!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="transport--contact">
        <div class="transport--contact--box contact1">
            <div class="transport--contact--box-title">
                <ion-icon name="call-outline"></ion-icon>
                <h2>Trực tuyến</h2>
            </div>
            <p class="transport--contact--box-content">Tư vấn nhiệt tình mọi trường hợp của khách hàng</p>
        </div>
        <div class="transport--contact--box contact1">
            <div class="transport--contact--box-title">
                <ion-icon name="leaf-outline"></ion-icon>
                <h2>
                    Độ tươi 100% </h2>
            </div>
            <p class="transport--contact--box-content">100% sản phẩm được đảm bảo về chất lượng
            </p>
        </div>
        <div class="transport--contact--box contact1">
            <div class="transport--contact--box-title">
                <ion-icon name="calendar-number-outline"></ion-icon>
                <h2>Giao hàng</h2>
            </div>
            <p class="transport--contact--box-content">Sản phẩm sẽ được giao đúng hẹn cho khách hàng</p>
        </div>
        <div class="transport--contact--box ">
            <div class="transport--contact--box-title">
                <ion-icon name="gift-outline"></ion-icon>
                <h2>Quà tặng khủng</h2>
            </div>
            <p class="transport--contact--box-content">Luôn có các chương trình khuyến mãi lớn vào các dịp lễ</p>
        </div>


    </div>
    <div class="contact--box--container">
        <div class="contact--box--container--left">
            <img src="../img/product/contact.PNG" alt="">

        </div>
        <div class="contact--box--container--right">
            <h1>Liện hệ với chúng tôi</h1>
            <p>Những điều bạn thắc mắc hay khó khăn. Bạn có thể liên hệ trực tiếp hoặc qua email.</p>

            <input type="text" placeholder="Tên">
            <input type="text" placeholder="Điều nhắn nhủ">
            <button>Gửi</button>



        </div>
    </div>




    <!--  -->
    <!-- //phần flower -->
    <div class="flower--shop--container">
        <h2>Theo dõi chúng tôi</h2>
        <div class="flower--shop">

            <div class="flower--shop-box">
                <img src="../img/product/product1.jpg" alt="${item.name}" />
                <a href="">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </div>
            <div class="flower--shop-box">
                <img src="../img/product/product2.jpg" alt="${item.name}" />
                <a href="">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
            <div class="flower--shop-box">
                <img src="../img/product/product3.jpg" alt="${item.name}" />
                <a href="">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </div>
            <div class="flower--shop-box">
                <img src="../img/product/product4.jpg" alt="${item.name}" />
                <a href="">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </a>
            </div>


        </div>
    </div>


    <%- include('footer') %>




    <!-- ---- ICON -----------  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../js/script.js"></script>


</body>


</html>