<footer class="footer">
    <div class="footer--container">
        <div class="footer--row">
            <div class="footer-col">
                <img class="footer-col-img" src="../img/logo.png" alt="">
                <p> Nếu bạn yêu thích hương hoa hồng Bạn phải chấp nhận những chiếc gai trên đóa hồng đó</p>

            </div>
            <div class="footer-col">
                <h4>Liên kết</h4>
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/shop">Cửa hàng</a></li>
                    <li><a href="/contact">Liên hệ</a></li>
                    <li><a href="/page">Bài viết</a></li>
                    <li><a href="/blog">Giới thiệu</a></li>


                </ul>
            </div>
            <div class="footer-col">
                <h4>Hỗ trợ</h4>
                <ul>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                    <li><a href="">Vận chuyển</a></li>
                    <li><a href="">Trả hàng- Hoàn tiền</a></li>
                    <li><a href="">Tình trạng đặt hàng</a></li>
                    <li><a href="">Các lựa chọn thanh toán</a></li>


                </ul>
            </div>

            <div class="footer-col">
                <h4>Theo dõi</h4>
                <div class="social-link">

                    <a href="">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="logo-tiktok"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>